* {
    margin: 0;
    padding: 0
}

.container {
    margin: 0 auto;
    width: 1120px;
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #f0f8ff;
    background-color: #292935;
}

.page-header {
    display: block;
    margin: 0 auto;
    width: 1120px;
    background-color: #FFCD04;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 96px;
    list-style: none;
}

.site-nav a {
    font-size: 18px;
    text-transform: uppercase;
    color: #292935;
    text-decoration: none; 
}

.site-nav a:hover {
    font-weight: bold;
}

.main-content {
    display: block;
    margin: 0 auto;
    width: 1120px;
}

h1 {
    margin: 36px 0;
    font-weight: bold;
    font-size: 56px;
}

.about-me {
    display: flex;
}

.about-me img {
    margin-left: 96px;;
    margin-right: 80px;
}

.about-me-div {
    width: 520px;
}

.vacancy {
    display: inline;
    padding: 4px;
    text-transform: uppercase;
    color: #292935;
    background-color: #FFCD04;
    border-radius: 4px;
}

#about {
    margin-top: 36px;
}

h2::after {
    content: "";
    display: block;
    width: 32px;
    padding-top: 32px;
    border-bottom: 4px solid #f0f8ff;
}

.about-me-div p {
    margin-top: 32px;
}

.contacts {
    color: #292935;
    background-color: #FFCD04;
}

.contacts ul {
    display: flex;
    margin: 0 96px;
    padding: 36px 0;
    justify-content: space-between;
    list-style-type: none;
}

.contacts-item {
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
}